/* Custom 404 */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }
  
  .notfound .notfound-404 {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0px auto 50px;
  }
  
  .notfound .notfound-404>div:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #6B913F;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 5px dashed #000;
    border-radius: 5px;
  }
  
  .notfound .notfound-404>div:first-child:before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 700;
    margin: 0;
    font-size: 90px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }
  
  .notfound h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  .notfound p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
  }
  
  .notfound a {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 10px 25px;
    background-color: #6B913F;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    background-color: #457A3B;
  }
  
/* Jupyter Overrides */

* * Jupyter Overrrides * *

.btn-jupyter {
    color: #fff;
    background-color: #6B913F;
    border-color: #457A3B
}

.btn-jupyter.focus,
.btn-jupyter:focus {
    color: #fff;
    background-color: #d85c0c;
    border-color: #76270f
}

.btn-jupyter:hover {
    color: #fff;
    background-color: #d85c0c;
    border-color: #b13b16
}

.btn-jupyter.active,
.btn-jupyter:active,
.open>.dropdown-toggle.btn-jupyter {
    color: #fff;
    background-color: #d85c0c;
    background-image: none;
    border-color: #b13b16
}

.btn-jupyter.active.focus,
.btn-jupyter.active:focus,
.btn-jupyter.active:hover,
.btn-jupyter:active.focus,
.btn-jupyter:active:focus,
.btn-jupyter:active:hover,
.open>.dropdown-toggle.btn-jupyter.focus,
.open>.dropdown-toggle.btn-jupyter:focus,
.open>.dropdown-toggle.btn-jupyter:hover {
    color: #fff;
    background-color: #b64d0a;
    border-color: #76270f
}

.btn-jupyter.disabled.focus,
.btn-jupyter.disabled:focus,
.btn-jupyter.disabled:hover,
.btn-jupyter[disabled].focus,
.btn-jupyter[disabled]:focus,
.btn-jupyter[disabled]:hover,
fieldset[disabled] .btn-jupyter.focus,
fieldset[disabled] .btn-jupyter:focus,
fieldset[disabled] .btn-jupyter:hover {
    background-color: #6B913F;
    border-color: #457A3B
}

.btn-jupyter .badge {
    color: #6B913F;
    background-color: #fff
}

.jpy-logo {
    height: 28px;
    margin-top: 6px
}

#header {
    border-bottom: 1px solid #e7e7e7
}

.hidden {
    display: none
}

#progress-log {
    margin-top: 8px
}

.progress-log-event {
    border-top: 1px solid #e7e7e7;
    padding: 8px
}

i.sort-icon {
    margin-left: 4px
}

div.error {
    margin: 2em;
    text-align: center
}

div.ajax-error {
    padding: 1em;
    text-align: center;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

div.ajax-error hr {
    border-top-color: #e4b9c0
}

div.ajax-error .alert-link {
    color: #843534
}

div.error>h1 {
    font-size: 300%;
    line-height: normal
}

div.error>p {
    font-size: 200%;
    line-height: normal
}

#login-main {
    display: table;
    height: 80vh
}

#login-main #insecure-login-warning {
    background-color: #fcf8e3;
    padding: 10px
}

a#login-main #insecure-login-warning:focus,
a#login-main #insecure-login-warning:hover {
    background-color: #f7ecb5
}

#login-main .service-login {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: auto auto 20% auto
}

#login-main form {
    display: table-cell;
    vertical-align: middle;
    margin: auto auto 20% auto;
    width: 350px;
    font-size: large
}

#login-main .input-group,
#login-main button,
#login-main input[type=text] {
    width: 100%
}

#login-main input[type=submit] {
    margin-top: 16px
}

#login-main .form-control:focus,
#login-main input[type=submit]:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #6B913F;
    border-color: #6B913F;
    outline-color: #6B913F
}

#login-main .login_error {
    color: #ff4500;
    font-weight: 700;
    text-align: center
}

#login-main .auth-form-header {
    padding: 10px 20px;
    color: #fff;
    background: #6B913F;
    border-radius: 3px 3px 0 0
}

#login-main .auth-form-body {
    padding: 20px;
    font-size: 14px;
    border: thin silver solid;
    border-top: none;
    border-radius: 0 0 3px 3px
}
